.footer{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-top: 20px;
}

.footer a img{margin: 0 10px;}

.footer a img{width: 20px;}